* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #273444;
}

/* ▼ WHERE YOUR CODE BEGINS */

.user-card {
  position: relative;
  width: 240px;
  height: 56px;
  border: solid 1px black;
  border-radius: 4px;
}

.photo {
  display: block;
  position: absolute;
  left: 7px;
  top: 5px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-status {
  position: absolute;
  width: 12px;
  height: 12px;
  left: 40px;
  top: 30px;
  display: block;
  border-radius: 50%;
  border: solid 2px #fff;
  background-color: #21d891;
}

.user-name {
  position: absolute;
  left: 60px;
  top: 12px;
}
