* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.parent {
  width: 600px;
  margin: 0 auto;
  background-color: #eff2f7;
}

.parent::after {
  /* clear는 display 속성이 block인 속성만 적용 가능 */
  content: "";
  display: block;
  clear: left;
}

.child {
  float: left;
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
/* 
  float: 가로배치를 도와줌
  
*/

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.other {
  color: #fff;
  background-color: black;
}

/* 가상화 앞 뒤에 가상 요소를 추가할 때 활용 */
.pseudo::before {
  content: "*";
}

.pseudo::after {
  content: "";
  width: 10px;
  height: 20px;
  display: inline-block;
  background-color: pink;
}
