* {
  box-sizing: border-box;
  margin: 0 auto;
}

body {
  font-family: "Muli", sans-serif;
  color: #273444;
}

.profile-name {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3333333333;
}

.profile-location {
  font-size: 14px;
  line-height: 1.4285714286;
  color: #8492a6;
}

.profile-detail dt {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.6666666667;
  color: #8492a6;
}

.profile-detail dd {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.25;
  color: #0066ff;
}

/* ▼ WHERE YOUR CODE BEGINS */

.profile {
  margin-top: 30px;
  width: 386px;
  height: 304px;
}

.profile-image {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-name {
  margin-top: 9px;
  text-align: center;
}

.profile-location {
  text-align: center;
}

.profile-detail {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.profile-detail-item {
  text-align: center;
}
