/* 
    red: #ff4949
    yellow: #ffc82c
    blue: #0066ff
*/

/* 
    동적 가상 클래스: 사용자의 액션이 있을 때 마다 선택되는 선택자
    - hover, focus, active
*/

/* 마우스를 올리면 스타일 적용 */
a:hover {
  background-color: #7e5bef;
}

/* 누르는 찰나에 스타일을 적용 */
a:active {
  background-color: #592dea;
}

/* input 태그에 작업을 수행할 때 적용 */
input:focus {
  border-color: red;
}

/* input 태그 더러운 거 없애기 */
input {
  outline: none;
  box-shadow: none;
}
