/* 
    visibility: 보여줄꺼냐 vs 안보여줄꺼냐
    - 사용할 수 있는 값: visibile, hidden
    - visibile: 보여주기
    - hidden: 안 보여주기

    visibility: hidden; vs display: none;
    - visibility: hidden; = 화면상에서만 보여주지 않는 것임. 즉, 없애는 것이 아님
    - display: none; = 해당 블럭 자체를 없앰
*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.box {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-color: #0066ff;
  /* visibility: hidden; */
  display: none;
}

h1 {
  background-color: #ff4949;
}
