/* 
    flex-box: 이것만 사용하면 된다. 4steps
    1. 플렉스 박스 사용 선언
    2. 가로 정렬, 세로 정렬 정하기
    3. 무조건 한줄안에 다 정렬? 혹은 여러줄을 만들어야 할지
    4. 플렉스 박스 활용해서 정렬하기 

    - 정렬하고자 하는 요소를 감싸는 부모에게 display: flex 를 적용해야함

    ------------------------------------------------------------------

    - main axis 를 기준으로 정렬할 때 justify-content 를 사용
    - cross axis 를 기준으로 정렬할때 align-items (or content)를 사용
*/

.flexbox {
  /* 1. flex-box 사용 선언 */
  display: flex;
  /* 2. 가로, 세로 정렬 정하기 */
  /* row(가로) | row-reverse | column (세로) | column-reverse */
  flex-direction: row;
  /* 3. 한줄안에 모든 요소를 정렬 여부 */
  /* default = nowrap | wrap */
  flex-wrap: nowrap;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* main axis 방향으로 정렬 */
  justify-content: center;

  /* justify-content: space-between; */
  /* justify-content: space-around; */

  /* cross axis 방향으로 정렬 */
  /* align-items: center; */
  align-content: center;

  width: 600px;
  height: 1000px;
  margin: 0 auto;
  background-color: #eff2f7;
}

.child {
  width: 300px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.red {
  order: 3;
  background-color: red;
}

.yellow {
  order: 2;
  background-color: yellow;
}

.blue {
  order: 1;
  background-color: blue;
}
