/* 
    position static - default
    relative : 다른 요소에 영향을 주지 않음
    absoulte : 기준 점을 정하고 이동
    - 기준점 = position이 static이 아닌 조상을 확인하여 정함

*/

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.grandparent {
  position: relative;
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background-color: #1f2d3d;
}

.parent {
  width: 600px;
  margin: 0 auto;
  background-color: #eff2f7;
}

.child {
  width: 200px;
  height: 200px;
  line-height: 200px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.red {
  background-color: red;
  position: fixed;
  bottom: 0px;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: blue;
}

.other {
  color: #fff;
  background-color: black;
}
